/upstream/
/dist/
/bin/*
!/bin/.gitkeep
/target/
/keys/*
!/keys/.gitkeep
*.apk.idsig
.DS_Store
local.properties
.gradle/
build/
.idea/
*.iml
/backups/
/attestation/
/.tutorial-build/
/.pt-build/
/.sdr-build/
/android/app/src/main/jniLibs/**/*.so
